@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply uppercase;
  }
  h1 {
    font-weight: 100;
    font-size: max(5vh, 6vw);
    @apply mx-2;
  }
  h2 {
    font-weight: 400;
    font-size: max(2.5vh, 3vw);
    @apply mx-2;
  }

  p {
    @apply p-4;
  }

  ul {
    @apply list-circle p-8;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
